.mainAbout {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80%;
  /* background-color: violet; */
  /* flex-direction: ; */
}
.Aboutflex-container {
  /* width: 85%; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  /* background-color: #3b8fc5; */
  color: white;
}

.Aboutflex-container > div {
  background-color: #3b8fc5;
  width: 350px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  /* margin: 20px; */
  /* padding: 50%; */
}
.Aboutflex-container > div > h4 {
  font-size: 2.5rem;
  margin: 10px;
  height: 50px;
}
.Aboutflex-container > div > p {
  margin: 20px;
  /* height: 265px; */
}
.Aboutflex-container > div > p {
  font-size: 2rem;
  line-height: normal;
}
.Aboutflex-container img {
  margin-top: 10px;
  border-radius: 50%;
  width: 250px;
  /* width: 40%; */
}

.mainAboutContainer > h1 {
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
}

.advisorContainer {
  background-color: #3b8fc5;
  overflow: hidden;
}
.advisorContainer1 {
  font-size: 2rem;
  color: white;
  margin: auto;
  width: 85%;
  /* background-color:#3b8fc5 ; */
}

.advisorImg {
  margin: auto;
  width: 400px;
  border-radius: 50%;
  padding: 20px;
}

.colAdvisorImg {
  margin: auto;
  width: 400px;
}
.advisorContent {
  margin-top: 40px;
}

.advisorContentConatiner {
  margin-right: 20px;
}

.carousel {
  width: 80%;
  /* height: 500px; */
  margin: auto;
}
.carousel-inner > .item > img {
  width: 100%;
}

.birthOfSureInitativeContainer {
  background-color: #3b8fc5;
}
.birthOfSureInitativeImg {
  float: right;
  /* width: 100ch; */
  margin-top: 50px;
  margin-right: -50px;
  padding-bottom: 30px;
}
.birthOfSureInitativeImg > img {
  width: 80%;
}

.birthOfSureInitativeContent {
  color: white;
  font-size: 2rem;
  width: 55%;
  padding-bottom: 30px;
}
.birthOfSureInitativeCenter {
  width: 85%;
  margin: auto;
}

.birthOfSureInitativeCenter > h1 {
  padding-top: 50px;
  color: white;
  font-size: 4.5rem;
  font-weight: bolder;
}

@media (max-width: 850px) {
  .mainAboutContainer > h1 {
    font-size: 4rem;
  }
  .birthOfSureInitativeCenter > h1 {
    font-size: 4rem;
  }
}
@media (max-width: 550px) {
  .mainAboutContainer > h1 {
    font-size: 3.5rem;
  }
  .birthOfSureInitativeCenter > h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1380px) {
  .Aboutflex-container > div {
    width: 40%;
  }
  .Aboutflex-container img {
    width: 80%;
  }
}
@media (max-width: 920px) {
  .birthOfSureInitativeImg {
    float: none;
    width: 100%;
    margin-top: 50px;
    /* margin-right: -50px; */
  }
  .birthOfSureInitativeImg > img {
    width: 100%;
  }

  .birthOfSureInitativeContent {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .Aboutflex-container > div {
    width: 100%;
  }
  .Aboutflex-container img {
    width: 80%;
  }
  .colAdvisorImg,
  .advisorImg {
    width: 100%;
  }
}
