@import url(./index.css);
.courseMainContainer {
  font-family: "Baloo Bhai 2", cursive;
  min-height: 80vh;
}

.courseContainer {
  background-color: var(--brand_color);
  color: #000;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 10px;
}
.courseHeading {
  color: var(--brand_color);
}
.courseContainer > h2 {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}

.courseContainerMain {
  display: flex;
  flex-direction: column;
}

.courseContainerMain > div {
  width: 100%;
  min-height: 500px;
}
.courseColumn {
  width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 3rem;
}
@media screen and (min-width: 786px) {
  .courseColumn {
    grid-template-columns: repeat(2, auto);
  }
  .instructorArticle {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .courseColumn {
    grid-template-columns: repeat(3, auto);
  }
}
.instructorArticle {
  position: relative;
  background-color: #fff;
  border-radius: 0.3rem;
  width: 300px !important;
  margin: auto;
  padding: 1rem 1rem 1rem 3rem;
}
.courseColumn h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 0.5rem 0;
  font-weight: 800;
  color: var(--brand_color);
}
.courseColumn p {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: 600;
}
.courseColumn img {
  width: 170px;
  height: 170px;
  border-radius: 0.3rem;
  border: 3px solid #fff;
  position: absolute;
  top: -30%;
  left: -10%;
}

.sub_course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}
.sub_course h4 {
  color: var(--brand_very_lighten_color);
}
.courseContainer > h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: 2rem;
  width: max-content;
  border-bottom: 4px solid var(--brand_very_lighten_color);
  color: #fff;
}
