body {
  font-family: Cantarell, Arial, sans-serif;
  font-weight: 400;
}
header h1 {
  font-size: 1.6em;
  padding: 1rem;
  letter-spacing: 0.128em;
  text-transform: uppercase;
  display: inline;
  box-sizing: border-box;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialised;
}
.svgcls {
  width: 30px;
  box-sizing: inherit;
  display: inline;
  animation-name: spin;
  letter-spacing: normal;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.openNav {
  display: none;
}
.small_nav {
  display: none;
}
.closebtn {
  display: none;
}
.logo_part {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32rem;
  flex-direction: column;
  border-left: none;
  border-right: none;
  border-top: none;
}
.logo_part img {
  width: 16rem;
  height: 14rem;
}
.mynav li a {
  margin-top: 2rem;
  margin: 1rem;
  cursor: pointer;
  letter-spacing: 0.214em;
  font-size: 20px;

  text-decoration: none;
  line-height: 24px;
  font-weight: bold;
  padding: 1.7rem;
  font-weight: 400;
  color: rgb(21, 21, 21);
  overflow-wrap: break-word;
}
.mynav li a:hover {
  border: 1px solid rgb(80, 151, 196);
  border-bottom: -5px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.box {
  display: flex;
  margin: 2rem;
}
#image_part {
  width: 60rem;
  height: 15rem;
  margin-left: 3rem;
}
.mid {
  background-color: rgb(59, 143, 197);
  color: white;
}
#content {
  margin: 0.2rem;
  max-width: 100%;
  padding: 1rem;
}
#image_part img {
  max-width: 100%;
  height: 15rem;
}
.mid h2 {
  margin: 2rem;

  letter-spacing: 0.214em;
  font-size: 24px;
  font-family: Cantarell, Arial, sans-serif;

  line-height: 24px;
  font-weight: bold;
  padding: 1.7rem;
  font-weight: 400;
}
#content h3 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  overflow-wrap: break-word;
  font-family: "Cantarell", Arial, sans-serif;
}
#content li {
  letter-spacing: unset;
  font-weight: 400;
  color: white;
  overflow-wrap: break-word;
  font-size: 1.2rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 400;
  overflow-wrap: break-word;
  padding: 0.8rem;
}

@media (min-width: 0px) and (max-width: 1250px) {
  .mynav {
    display: none;
  }
  .logo_part {
    display: flex;
    flex-direction: row;
  }
  #logo {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .logo_part img {
    width: 10rem;
    height: 10rem;
  }
  .openNav {
    display: block;
  }
  .closebtn {
    display: block;
  }
  .small_nav {
    display: block;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgb(215, 228, 236);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: rgb(59, 143, 197);
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}
@media (min-width: 0px) and (max-width: 900px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  #image_part {
    width: 100vw;
  }
  #image_part img {
    max-width: 100%;
  }
}
.initiative h2 {
  margin: 2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.214em;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  padding: 1.7rem;
  font-weight: 400;
  color: rgb(80, 151, 196);
  overflow-wrap: break-word;
}
.pdf_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}
.initiative a {
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  color: rgb(80, 151, 196);
}
.mycarousel {
  border: 5px solid rgb(225, 237, 245);
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  max-width: 100%;
  max-height: 100%;
}
.carousel-inner img {
  width: 100%;
  max-height: 100%;
}
.footer {
  display: flex;
  margin: 3.5rem;
  padding: 1rem;
}
.footer p {
  font-size: 20px;
  letter-spacing: 0.083em;
  color: rgb(89, 89, 89);
  font-weight: 400;
  line-height: 1.5;
  overflow-wrap: break-word;
}
#a {
  width: 28rem;
}
#b {
  width: 30rem;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}

#b i {
  padding: 2rem;
}
#c {
  width: 30rem;
}
@media (min-width: 0px) and (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  #a {
    max-width: 100%;
  }
  #b {
    max-width: 100%;
  }
  #c {
    max-width: 100%;
  }
}
