@import url(./index.css);
body {
  font-weight: 400;
}
.box {
  display: flex;
  margin: 1rem 2rem 2rem 2rem;
}
#image_part {
  width: 60rem;
  height: 15rem;
  margin-left: 3rem;
}
.mid2 {
  background-color: var(--brand_color);
  color: #000;
}
#content {
  margin: 0.2rem;
  max-width: 100%;
  padding: 1rem;
}
.knowMoreHeading {
  margin: 3rem 2rem 2rem 4rem;
  line-height: 24px;
  font-weight: bold;
  color: var(--brand_color);
}
#content h3 {
  -webkit-text-size-adjust: 100%;
  color: #fff;
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: left;
  font-weight: 800;
  overflow-wrap: break-word;
}
@media screen and (min-width: 996px) {
  #content h3 {
    font-size: 1.5rem !important;
  }
  .initiative h2 {
    font-size: 2.3rem !important;
  }
}
.gird_justify {
  padding: 0;
  width: 90vw;
}
.gird_justify li {
  display: grid;
  grid-template-columns: 170px auto;
}
#content li {
  letter-spacing: unset;
  font-weight: 400;
  overflow-wrap: break-word;
  font-size: 1.2rem;
  line-height: 1.5;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 400;
  overflow-wrap: break-word;
  padding: 0.8rem;
  color: #fff !important;
}
@media (min-width: 0px) and (max-width: 900px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  #image_part {
    width: 100vw;
  }
  #image_part img {
    max-width: 100%;
  }
}
.initiative h2 {
  margin: 2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  font-size: 2rem;
  line-height: 24px;
  font-weight: 900;
  padding: 1.7rem;
  color: var(--brand_color);
  overflow-wrap: break-word;
}
.pdf_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: var(--brand_lighten_color);
}
.initiative a {
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  color: var(--brand_lighten_color);
}
.mycarousel {
  border: 5px solid rgb(225, 237, 245);
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  max-width: 100%;
  max-height: 100%;
}
.carousel-inner img {
  width: 100%;
  max-height: 100%;
}
